In [ ]:
!git clone https://github.com/udacity/machine-learning/

Cloning into 'machine-learning'...
remote: Enumerating objects: 1967, done.
remote: Total 1967 (delta 0), reused 0 (delta 0), pack-reused 1967
Receiving objects: 100% (1967/1967), 35.44 MiB | 27.60 MiB/s, done.
Resolving deltas: 100% (1079/1079), done.

In [ ]:
!mv machine-learning/projects/practice_projects/naive_bayes_tutorial/smsspamcollection smsspamcollection

In [ ]:
import pandas as pd
df=pd.read_table('smsspamcollection/SMSSpamCollection',sep='\t',header=None,names=['label','sms_message'])
df.head()

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df['label']=df.label.map({'ham':0,'spam':1})
print(df.shape)
df.head()

(5572, 2)

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
documents=['Hello, how are you!',
           'Win money, win from home.',
           'Call me now.',
           'Hello, Call hello you tomorrow?']

lower_case_documents=[]
for i in documents:
  lower_case_documents.append(i.lower())
print(lower_case_documents)

['hello, how are you!', 'win money, win from home.', 'call me now.', 'hello, call hello you tomorrow?']

In [ ]:
sans_punctuation_documents=[]
import string

for i in lower_case_documents:
  sans_punctuation_documents.append(i.translate(str.maketrans('','',string.punctuation)))
print(sans_punctuation_documents)

['hello how are you', 'win money win from home', 'call me now', 'hello call hello you tomorrow']

In [ ]:
preprocessed_documents=[]
for i in sans_punctuation_documents:
  preprocessed_documents.append(i.split(' '))
print(preprocessed_documents)

[['hello', 'how', 'are', 'you'], ['win', 'money', 'win', 'from', 'home'], ['call', 'me', 'now'], ['hello', 'call', 'hello', 'you', 'tomorrow']]

In [ ]:
frequency_list=[]
import pprint
from collections import Counter
for i in preprocessed_documents:
  frequency_counts=Counter(i)
  frequency_list.append(frequency_counts)
pprint.pprint(frequency_list)

[Counter({'hello': 1, 'how': 1, 'are': 1, 'you': 1}),
 Counter({'win': 2, 'money': 1, 'from': 1, 'home': 1}),
 Counter({'call': 1, 'me': 1, 'now': 1}),
 Counter({'hello': 2, 'call': 1, 'you': 1, 'tomorrow': 1})]

In [ ]:
documents=['Hello, how are you!',
           'Win money, win from home.',
           'Call me now.',
           'Hello, Call hello you tomorrow?']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()

In [ ]:
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [ ]:
count_vector.fit(documents)
count_vector.get_feature_names()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [ ]:
doc_array=count_vector.transform(documents).toarray()
doc_array

array([[1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0],
       [0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [0, 1, 0, 2, 0, 0, 0, 0, 0, 1, 0, 1]])

In [ ]:
frequency_matrix=pd.DataFrame(doc_array,columns=count_vector.get_feature_names())
frequency_matrix

   are  call  from  hello  home  how  me  money  now  tomorrow  win  you
0    1     0     0      1     0    1   0      0    0         0    0    1
1    0     0     1      0     1    0   0      1    0         0    2    0
2    0     1     0      0     0    0   1      0    1         0    0    0
3    0     1     0      2     0    0   0      0    0         1    0    1

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df['sms_message'],df['label'],random_state=1)

print("Number of rows in the total set: {}".format(df.shape[0]))
print("Number of rows in the training set: {}".format(X_train.shape[0]))
print("Number of rows in the test set: {}".format(X_test.shape[0]))

Number of rows in the total set: 5572
Number of rows in the training set: 4179
Number of rows in the test set: 1393

In [ ]:
count_vector=CountVectorizer()

training_data=count_vector.fit_transform(X_train)

testing_data=count_vector.transform(X_test)

In [ ]:
 p_diabetes=0.01

 p_no_diabetes=0.99

 p_pos_diabetes=0.9

 p_neg_no_diabetes=0.9

 p_pos=(p_diabetes * p_pos_diabetes) + (p_no_diabetes * (1-p_neg_no_diabetes))

 print("The probability of getting a positive test result P(Pos) is : {}".format(p_pos))

The probability of getting a positive test result P(Pos) is : 0.10799999999999998

In [ ]:
p_diabetes_pos=(p_diabetes * p_pos_diabetes) / p_pos
print("Probability of an individual having diabetes,given that individual got a positive test result is {}:".format(p_diabetes_pos))

Probability of an individual having diabetes,given that individual got a positive test result is 0.08333333333333336:

In [ ]:
p_pos_no_diabetes=0.1

p_no_diabetes_pos=(p_no_diabetes * p_pos_no_diabetes) / p_pos
print("Probability of an individual not having diabetes, given that individual got a positive test result is {}".format(p_no_diabetes_pos))

Probability of an individual not having diabetes, given that individual got a positive test result is 0.9166666666666669

In [ ]:
p_j=0.5

p_j_f=0.1

p_j_i=0.1

p_j_text = p_j * p_j_f * p_j_i
print(p_j_text)

0.005000000000000001

In [ ]:
p_g=0.5

p_g_f=0.7

p_g_i=0.2

p_g_text = p_g * p_g_f * p_g_i
print(p_g_text)

0.06999999999999999

In [ ]:
p_f_i = p_j_text + p_g_text
print("Probability of words freedom and immigration being said are:",format(p_f_i))

Probability of words freedom and immigration being said are: 0.075

In [ ]:
p_j_fi = p_j_text / p_f_i
print("The Probabiloty of jill Stein saying the words freedom and Immigration: ",format(p_j_fi))

The Probabiloty of jill Stein saying the words freedom and Immigration:  0.06666666666666668

In [ ]:
p_g_fi = p_g_text / p_f_i
print("Probability of Gary johnson saying the words freedom and Immigration",format(p_g_fi))

Probability of Gary johnson saying the words freedom and Immigration 0.9333333333333332

In [ ]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes= MultinomialNB()
naive_bayes.fit(training_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
predictions=naive_bayes.predict(testing_data)

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
print("Accuracy Score: ",format(accuracy_score(y_test,predictions)))
print("Precision score: ",format(precision_score(y_test,predictions)))
print("Recall score: ",format(recall_score(y_test,predictions)))
print("F1 score: ",format(f1_score(y_test,predictions)))

Accuracy Score:  0.9885139985642498
Precision score:  0.9720670391061452
Recall score:  0.9405405405405406
F1 score:  0.9560439560439562